.filters
{
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px #DDDDDD;
	border-radius: 4px;
	border-style: solid;
	position: relative;
/*	display: flex;*/
	align-items: center;
}

.filters > button
{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
}
/*
.filters > button:hover
{
	opacity: 0.9;
}

.filters > div
{
	border-right-color: #DDDDDD;
	height: 100%;
	width: 25%;
	margin: auto;
}
.locations
{
	border-right: 1px;
	border-right-style: solid;
	margin-right: 0px;

}
.filters h3
{
	font-weight: 600;
	margin-bottom: 0px;

}
.filters h4
{
	font-weight: 400;
	font-size: 14px;
	margin-top: 0px;

}
.filters ul, li
{
	list-style: none;
	padding: 0px;

}
.popover
{
	background-color: #FAFAFA;
	border: 1px;
	border-style: solid;
	border-radius: 4px;
	border-color: #DDDDDD;
	margin-left: 0px;
}
 */